<form class="layui-form m15">
    <div class="layui-form-item">
        <label class="layui-form-label">行为名称</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.action_id}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行者</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.user_id}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行Model</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.model}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行操作</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.type}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行IP</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.action_ip}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行时间</label>
        <div class="layui-input-block">
            <input type="text" disabled value="{$info.create_time}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea disabled class="layui-textarea">{$info.remark}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-primary" id="close">关闭</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.$('#close').on('click',function () {
        layui.layer.close(pop_up);
        return false;
    });
</script>
